pkgbase = hyperfox-browser-bin
	pkgdesc = Community-maintained fork of Firefox, focused on privacy, security and freedom.
	pkgver = 132.0.2
	pkgrel = 1
	url = https://librewolf-community.gitlab.io/
	install = hyperfox-bin.install
	arch = x86_64
	license = MPL
	license = GPL
	license = LGPL
	makedepends = git
	depends = gtk3
	depends = libxt
	depends = startup-notification
	depends = mime-types
	depends = dbus
	depends = nss
	depends = ttf-font
	depends = libpulse
	depends = ffmpeg
	optdepends = hunspell-en_US: Spell checking, American English
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = pulseaudio: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	provides = hyperfox-browser
	conflicts = hyperfox-browser
	options = !emptydirs
	backup = usr/lib/librewolf/librewolf.cfg
	backup = usr/lib/librewolf/distribution/policies.json
	source = git+https://github.com/frap129/hyperfox.git#tag=v132.0.2
	source = default192x192.png
	source = hyperfox.desktop
	validpgpkeys = 662E3CDD6FE329002D0CA5BB40339DD82B12EF16
	sha256sums = SKIP
	sha256sums = 959c94c68cab8d5a8cff185ddf4dca92e84c18dccc6dc7c8fe11c78549cdc2f1
	sha256sums = 2b560ff8d0c3efb328599be2cee6ab75ad47ad6609e2db45007463fcefbc4f82
	source_x86_64 = https://github.com/frap129/hyperfox/releases/download/v132.0.2/hyperfox-132.0.2-1.en-US.linux-x86_64.tar.bz2
	sha256sums_x86_64 = 7b012d2dd196c65a4e3ac0a9b7f9e850766a9bd9ec86cdc8b30540b090bdf2d1

pkgname = hyperfox-browser-bin
