pkgbase = librewolf-bin
	pkgdesc = Community-maintained fork of Firefox, focused on privacy, security and freedom.
	pkgver = 128.0.3
	pkgrel = 2
	url = https://librewolf-community.gitlab.io/
	install = librewolf-bin.install
	arch = x86_64
	arch = aarch64
	license = MPL
	license = GPL
	license = LGPL
	makedepends = git
	depends = gtk3
	depends = libxt
	depends = startup-notification
	depends = mime-types
	depends = dbus
	depends = nss
	depends = ttf-font
	depends = libpulse
	depends = ffmpeg
	optdepends = hunspell-en_US: Spell checking, American English
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = pulseaudio: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	provides = librewolf
	conflicts = librewolf
	options = !emptydirs
	backup = usr/lib/librewolf/librewolf.cfg
	backup = usr/lib/librewolf/distribution/policies.json
	source = git+https://gitlab.com/librewolf-community/browser/source.git#tag=128.0.3-2
	source = default192x192.png
	source = librewolf.desktop
	validpgpkeys = 662E3CDD6FE329002D0CA5BB40339DD82B12EF16
	sha256sums = 089e086e81fabad5de6c1132fcddb0ef5fa7e8c9dd52771c468e75ee6dd78a0a
	sha256sums = 959c94c68cab8d5a8cff185ddf4dca92e84c18dccc6dc7c8fe11c78549cdc2f1
	sha256sums = 7d01d317b7db7416783febc18ee1237ade2ec86c1567e2c2dd628a94cbf2f25d
	source_x86_64 = https://gitlab.com/api/v4/projects/44042130/packages/generic/librewolf/128.0.3-2/librewolf-128.0.3-2-linux-x86_64-package.tar.bz2
	source_x86_64 = https://gitlab.com/api/v4/projects/44042130/packages/generic/librewolf/128.0.3-2/librewolf-128.0.3-2-linux-x86_64-package.tar.bz2.sig
	sha256sums_x86_64 = 7ef3d905cc5855dcd77a801ca7842ffb85ae2a048933fd1e2c6c979b76c6374b
	sha256sums_x86_64 = SKIP
	source_aarch64 = https://gitlab.com/api/v4/projects/44042130/packages/generic/librewolf/128.0.3-2/librewolf-128.0.3-2-linux-arm64-package.tar.bz2
	source_aarch64 = https://gitlab.com/api/v4/projects/44042130/packages/generic/librewolf/128.0.3-2/librewolf-128.0.3-2-linux-arm64-package.tar.bz2.sig
	sha256sums_aarch64 = 2cc617880cbf5ee39b2e0fcde73f0b24f9e2a73c8d20b1745aacd00b5fbae6de
	sha256sums_aarch64 = SKIP

pkgname = librewolf-bin
