pkgbase = librewolf-bin
	pkgdesc = Community-maintained fork of Firefox, focused on privacy, security and freedom.
	pkgver = 127.0.2
	pkgrel = 2
	url = https://librewolf-community.gitlab.io/
	install = librewolf-bin.install
	arch = x86_64
	arch = aarch64
	license = MPL
	license = GPL
	license = LGPL
	makedepends = git
	depends = gtk3
	depends = libxt
	depends = startup-notification
	depends = mime-types
	depends = dbus
	depends = nss
	depends = ttf-font
	depends = libpulse
	depends = ffmpeg
	optdepends = hunspell-en_US: Spell checking, American English
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = pulseaudio: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	provides = librewolf
	conflicts = librewolf
	options = !emptydirs
	backup = usr/lib/librewolf/librewolf.cfg
	backup = usr/lib/librewolf/distribution/policies.json
	source = git+https://gitlab.com/librewolf-community/browser/source.git#tag=127.0.2-2
	source = default192x192.png
	source = librewolf.desktop
	validpgpkeys = 662E3CDD6FE329002D0CA5BB40339DD82B12EF16
	sha256sums = 5e35adf6ce1c2aaee6b24414e3126407311cc655f21217fc2c1a0405c7835bba
	sha256sums = 959c94c68cab8d5a8cff185ddf4dca92e84c18dccc6dc7c8fe11c78549cdc2f1
	sha256sums = 7d01d317b7db7416783febc18ee1237ade2ec86c1567e2c2dd628a94cbf2f25d
	source_x86_64 = https://gitlab.com/api/v4/projects/44042130/packages/generic/librewolf/127.0.2-2/librewolf-127.0.2-2-linux-x86_64-package.tar.bz2
	source_x86_64 = https://gitlab.com/api/v4/projects/44042130/packages/generic/librewolf/127.0.2-2/librewolf-127.0.2-2-linux-x86_64-package.tar.bz2.sig
	sha256sums_x86_64 = 67c17d6cd32b32ec9414904b2866175d896cb692256bc609852c60a25d423ae0
	sha256sums_x86_64 = SKIP
	source_aarch64 = https://gitlab.com/api/v4/projects/44042130/packages/generic/librewolf/127.0.2-2/librewolf-127.0.2-2-linux-arm64-package.tar.bz2
	source_aarch64 = https://gitlab.com/api/v4/projects/44042130/packages/generic/librewolf/127.0.2-2/librewolf-127.0.2-2-linux-arm64-package.tar.bz2.sig
	sha256sums_aarch64 = ac895d15e4dbdeb240d34c2e13363b486f9129763edc8de1ebe41080812774d8
	sha256sums_aarch64 = SKIP

pkgname = librewolf-bin
